#chatApp {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
}

#menuContainer {
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 175px;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 5px;
}
#menuContainer:focus {
  outline: none;
}

#headerContainer{
  height: 8vh;
  text-align: center;
}
#headerContainer a{
  font-size: 2em;
  position: absolute;
  left: 0;
  margin: 5px;
}
#headerContainer h1{
  display: inline-block;
  margin: 0;
}
#mainContainer{
  height: 81%;
}

#mainContainer ul {
  height: 100%;
  overflow: auto;
  list-style: none;
  margin: 0;
}

#chatFormContainer {
  height: 8vh;
  padding-top: 10px;
}

#mainContainer ul  li {
  padding: 5px 10px;
  width: 100%;
  white-space: pre-wrap;
  background-color: #eee;
}

#mainContainer ul li:nth-child(odd) {
  background-color: #fff;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#mobileUserList {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

#chatForm {
  margin-top: 5px;
}

#chatForm input, #chatForm button {
  width: 100%;
}

#color-picker {
  width: 20px;
}

@media (min-width: 992px) {
  #menuContainer{
    display:block;
  }
  #mainContainer{
    height: 100%;
  }
  #mainContainer > ul{
    overflow: auto;
    height: 100%;
  }
  #chatApp {
    width: 660px;
    height: 600px;
  }
  #chatFormContainer {
    padding: 0;
    line-height: 8vh;
  }
}